<% if (locals.success && success.length > 0) { %>
<div id="flash-success" class="fixed top-20 left-1/2 -translate-x-1/2 z-50 px-6 py-3 rounded-lg bg-green-500 text-white shadow-lg text-sm font-medium">
    <%= success %>
</div>
<% } %>

<% if (locals.error && error.length > 0) { %>
<div id="flash-error" class="fixed top-20 left-1/2 -translate-x-1/2 z-50 px-6 py-3 rounded-lg bg-red-500 text-white shadow-lg text-sm font-medium">
    <%= error %>
</div>
<% } %>